@model ECommApplication.Models.Category
@{
    /**/

    ViewBag.Title = "Category";
}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    function clearRecord() {
        $('#CategoryID').val('')
        $('#CategoryName').val('')
        $('#IsActive').val('')
        $('#btnSave').text('Save').addClass('btn-success').removeClass('btn-warning');
    }
    function editCategory(e, categoryId) {
        e.preventDefault(); 
        $.ajax({
            url: "/Bind/BindCategory",
            type: "Get",
            data: { 'CategoryId' :  categoryId },
            datatype: "json",
            success: function (data) { 
                console.log(data)
                var category = data.data;
                $('#CategoryID').val(category.CategoryID)
                $('#CategoryName').val(category.CategoryName)
                $('#IsActive').val(category.IsActive)
                $('#btnSave').text('Update').removeClass('btn-success').addClass('btn-warning')
            } 
        });
    }

    function deleteCategory(e, categoryId) {
        e.preventDefault();
        var getConfirmation = confirm("Do you want to remove this record ?")
        if (getConfirmation) {
            $.ajax({
                url: "/Admin/DeleteCategory",
                type: "Get",
                data: { 'CategoryId': categoryId },
                datatype: "json",
                success: function (data) {
                    console.log(data)
                    var category = data.data;
                    $('#CategoryID').val(category.CategoryID)
                    $('#CategoryName').val(category.CategoryName)
                    $('#IsActive').val(category.IsActive)
                    $('#btnSave').text('Update').removeClass('btn-success').addClass('btn-warning')
                },
            });
        }
    }

    $(document).ready(function () {
        var categoryData = "";
        var category = null;
        clearRecord();
        $.ajax({
            url: "/Bind/BindCategory",
            type: "POST",
            datatype: "json",
            success: function (data) {

                categoryData = data;
                loadDataTable();
            },
        });
        
        function loadDataTable() {
            $('#tblCategory').DataTable({
                "ordering": true,
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sDom": '<""l>t<"F"fp>',
                "data": categoryData.category,
                "searching": true,
                "columns": [
                    { 'data': 'CategoryID', "name": "CategoryID" },
                    { 'data': 'CategoryName', "name": "CategoryName" },
                    { 'data': 'IsActive', "name": "IsActive" }, 
                    {
                        "render": function (data, type, obj, meta)
                        { 
                            return `<a class="btn btn-primary" href="#" onclick="javascript:editCategory(event,'` + obj.CategoryID + `')">Edit</a>
                            <a class="btn btn-danger" href="#" onclick="javascript:deleteCategory(event,'` + obj.CategoryID +`')">Delete</a>
                            `;
                        }
                    },  
                ]

            });
        }
    });
</script>
<div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Common elements</a> </div>
  
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Category-info</h5>
                </div>
                <div class="widget-content nopadding">

                    <form action="/Admin/Category" method="post" class="form-horizontal">
                         
                        @Html.AntiForgeryToken()
                        <div class="control-group">
                            <label class="control-label">Category Name :</label>
                            <div class="controls">
                                @Html.HiddenFor(a => a.CategoryID)
                                @Html.TextBoxFor(a => a.CategoryName, new { @maxlength = "100" })
                                @Html.ValidationMessageFor(a => a.CategoryName,"", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Is Active :</label>
                            <div class="controls">
                                @Html.CheckBoxFor(a => a.IsActive)
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success" id="btnSave">Save</button>
                            <button type="button" id="btnClear" class="btn btn-success" onclick="clearRecord()">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div> 
        </div>
    <hr />
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Data table</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table" id="tblCategory">
                        <thead>
                            <tr>
                                <th>Category ID</th>
                                <th>Category Name</th>
                                <th>Active</th> 
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>



 