@model ECommApplication.Models.Product
@{
    ViewBag.Title = "Product";
}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    function bindSubCategory(category) {
        $.ajax({
            url: "/Bind/BindSubCategory",
            type: "Get",
            data: { 'CategoryID': category.value },
            datatype: "json",
            success: function (data) {
                $("#SubCategoryID").children('option:not(:first)').remove();
                $.each(data.subcategory, function (i, subcategory) {
                    $("#SubCategoryID").append('<option value="' + subcategory.SubCategoryID + '">' + subcategory.SubCategoryName + '</option>');
                });
            }
        });
    }

    function uploadImage() {
       
        var formdata = new FormData(); //FormData object 
        var fileInput = document.getElementById('imageFile');  
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //formdata.append("caption", $('#Caption').val())
        //formdata.append("priority", $('#Priority').val())
        //formdata.append("isActive", $('#IsActiveImage').val())
         
       
        
        var objArr = [];

        formdata.append("Caption", $('#Caption').val());
        formdata.append("Priority", $('#Priority').val()); 

        //JSON obj
        formdata.append('objArr', objArr);
           
        $.ajax({
            url: '/Admin/UploadImage',
            type: "POST", 
            processData: false, // Not to process data  
            data: formdata,
            contentType:  false,
            success: function (result) { 
                $('#tblProductImages').DataTable({
                    "ordering": true,
                    "bJQueryUI": true,
                    "sPaginationType": "full_numbers",
                    "sDom": '<""l>t<"F"fp>',
                    "data": result.productImages,
                    "searching": true,
                    "columns": [
                        { 'data': 'ImageID', "name": "ImageID" },
                        { 'data': 'Caption', "name": "Caption" },
                        { 'data': 'Priority', "name": "Priority" },
                        { 'data': 'IsActive', "name": "IsActive" }, 
                        {
                            "render": function (data, type, obj, meta) {
                                return `<img src='` + obj.productImagePath +`' class="span11"  >`;
                            }
                        },
                        {
                            "render": function (data, type, obj, meta) {
                                return `<a class="btn btn-primary" href="#" onclick="javascript:editSubCategory(event,'` + obj.ID + `')">Edit</a>
                            <a class="btn btn-danger" href="#" onclick="javascript:deleteCategory(event,'` + obj.ID + `')">Delete</a>
                            `;
                            }
                        },
                    ]

                });
            },
            error: function (err) {
                alert(err.statusText);
            }  
        });

       
         
    }
    $(document).ready(function () {
        //bindSubCategory($('#CategoryID'));
        $('#btnSaveImage').click(function (e) {
            e.preventDefault();
            uploadImage()
        })
        var productsData = "";
        var category = null;
        $.ajax({
            url: "/Bind/BindProducts",
            type: "POST",
            datatype: "json",
            success: function (data) { 
                productsData = data;
                loadDataTable();
            },
        });

        function loadDataTable() {
            $('#tblProducts').DataTable({
                "ordering": true,
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sDom": '<""l>t<"F"fp>',
                "data": productsData.products,
                "searching": true,
                "columns": [
                    { 'data': 'ProductId', "name": "ProductId" },
                    { 'data': 'ProductName', "name": "ProductName" },
                    { 'data': 'IsActive', "name": "IsActive" },
                    {
                        "render": function (data, type, obj, meta) {
                            return `<a class="btn btn-primary" href="#" onclick="javascript:editCategory(event,'` + obj.ProductID + `')">Edit</a>
                            <a class="btn btn-danger" href="#" onclick="javascript:deleteCategory(event,'` + obj.ProductID + `')">Delete</a>
                            `;
                        }
                    },
                ]

            });
        }
    })
</script>
 
<div class="container-fluid">
 
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Product-info</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="/Admin/Product" method="post" class="form-horizontal">
                        @Html.AntiForgeryToken()
                        <div class="control-group span5">
                            <label class="control-label">Category :</label>
                            <div class="controls">
                                @Html.HiddenFor(a => a.ProductId)
                                @Html.DropDownListFor(a => a.CategoryID, new SelectList((new ECommApplication.Models.SubCategory().getCategories()), "CategoryID", "CategoryName"), "--Select--", new { @onchange = "bindSubCategory(this)" })
                                
                            </div>
                        </div>

                        <div class="control-group span5">
                            <label class="control-label">Sub Category :</label>
                            <div class="controls">
                                @Html.DropDownListFor(a => a.SubCategoryID, new SelectList(string.Empty, "Value", "Text"), "--Select--")
                            </div>
                        </div>
                        <div class="control-group span5">
                            <label class="control-label">Product Name:</label>
                            <div class="controls">
                                @Html.TextBoxFor(a => a.ProductName, new { @maxlength = "100" })
                                @Html.ValidationMessageFor(a => a.ProductName, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group span5">
                            <label class="control-label">Product Description:</label>
                            <div class="controls">
                                @Html.TextBoxFor(a => a.ProductDescription, new { @maxlength = "100" })
                            </div>
                        </div>
                        <div class="control-group span5">
                            <label class="control-label">Product Size:</label>
                            <div class="controls">
                                @Html.TextBoxFor(a => a.ProductSize, new { @maxlength = "100" })
                            </div>
                        </div>
                        <div class="control-group span5">
                            <label class="control-label">Product Weight:</label>
                            <div class="controls">
                                @Html.TextBoxFor(a => a.ProductWeight, new { @maxlength = "100" })
                            </div>
                        </div>
                        <div class="control-group span5">
                            <label class="control-label">Base Price:</label>
                            <div class="controls">
                                @Html.TextBoxFor(a => a.BasePrice, new { @maxlength = "100" })
                            </div>
                        </div>
                        <div class="control-group span5">
                            <label class="control-label">Shipping Charges:</label>
                            <div class="controls">
                                @Html.TextBoxFor(a => a.ShippingCharges, new { @maxlength = "100" })
                            </div>
                        </div>
                        <div class="control-group span5">
                            <label class="control-label">GST :</label>
                            <div class="controls">
                                @Html.TextBoxFor(a => a.GST, new { @maxlength = "100" })
                            </div>
                        </div>
                        <div class="control-group span5">
                            <label class="control-label">Service Tax:</label>
                            <div class="controls">
                                @Html.TextBoxFor(a => a.ServiceTax, new { @maxlength = "100" })
                            </div>
                        </div>
                        <div class="control-group span5">
                            <label class="control-label">Final Price:</label>
                            <div class="controls">
                                @Html.TextBoxFor(a => a.FinalPrice, new { @maxlength = "100" })
                            </div>
                        </div>
                        <div class="control-group span5">
                            <label class="control-label">Display at Home Page :</label>
                            <div class="controls">
                                @Html.CheckBoxFor(a => a.DisplayAtHomePage)
                            </div>
                        </div>
                        <div class="control-group span7">
                            <label class="control-label">Is Active :</label>
                            <div class="controls">
                                @Html.CheckBoxFor(a => a.IsActive)
                            </div>
                        </div>
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"> <i class="icon-align-justify"></i> </span>
                                <h5>Product Image-info</h5>
                            </div>
                            <div class="widget-content nopadding">
                                <div class="control-group ">
                                    <label class="control-label">Upload Image</label>
                                    <div class="controls">
                                        <div class="uploader" id="uniform-undefined"><input type="file" size="19" style="opacity: 0;"  id="imageFile"><span class="filename">No file selected</span><span class="action">Choose File</span></div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Caption :</label>
                                    <div class="controls">
                                        <input type="text" id="Caption" name="Caption" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Priority :</label>
                                    <div class="controls">
                                        <input type="text" id="Priority" name="Priority" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Is Active :</label>
                                    <div class="controls">
                                        <input type="checkbox" id="IsActiveImage" name="IsActiveImage" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success" id="btnSaveImage">Save Image</button>
                                    <button type="button" id="btnClear" class="btn btn-success" onclick="clearRecord()">Clear</button>
                                </div>

                                <div class="widget-box">
                                    <div class="widget-title">
                                        <span class="icon"><i class="icon-th"></i></span>
                                        <h5>Product Images:</h5>
                                    </div>
                                    <div class="widget-content nopadding">
                                        <table class="table table-bordered data-table" id="tblProductImages">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Caption</th>
                                                    <th>Priority</th>
                                                    <th>Active</th>
                                                    <th>Image</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success" id="btnSave">Save</button>
                            <button type="button" id="btnClear" class="btn btn-success" onclick="clearRecord()">Clear</button>
                        </div>

                    </form>
                </div>
            </div>


        </div>
        <hr />

        <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>Data table</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table" id="tblProducts">
                                <thead>
                                    <tr>
                                        <th>Product ID</th>
                                        <th>Product Name</th> 
                                        <th>Active</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
