@model ECommApplication.Models.SubCategory
@{
    ViewBag.Title = "SubCategory";
} 
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    function clearRecord() {
        $('#CategoryID').val('')
        $('#SubCategoryID').val('')
        $('#SubCategoryName').val('')
        $('#IsActive').val('')
        $('#btnSave').text('Save').addClass('btn-success').removeClass('btn-warning');
    }
    function editSubCategory(e, categoryId) {
        e.preventDefault();
        $.ajax({
            url: "/Bind/BindSubCategory",
            type: "Get",
            data: { 'SubCategoryId': categoryId },
            datatype: "json",
            success: function (data) {
                debugger;
                console.log(data)
                var subCategory = data.subcategory[0];
                $('#CategoryID').val(subCategory.category.CategoryID)
                $('#SubCategoryID').val(subCategory.SubCategoryID)
                $('#SubCategoryName').val(subCategory.SubCategoryName)
                $('#IsActive').val(subCategory.IsActive)
                $('#btnSave').text('Update').removeClass('btn-success').addClass('btn-warning')
            }
        });
    }

    function deleteSubCategory(e, categoryId) {
        e.preventDefault();
        var getConfirmation = confirm("Do you want to remove this record ?")
        if (getConfirmation) {
            $.ajax({
                url: "/Admin/DeleteCategory",
                type: "Get",
                data: { 'CategoryId': categoryId },
                datatype: "json",
                success: function (data) {
                    console.log(data)
                    var category = data.data;
                    //$('#CategoryID').val(category.CategoryID)
                    //$('#CategoryName').val(category.CategoryName)
                    //$('#IsActive').val(category.IsActive)
                    //$('#btnSave').text('Update').removeClass('btn-success').addClass('btn-warning')
                },
            });
        }
    }

    $(document).ready(function () {
        var categoryData = "";
        var category = null;
        //clearRecord();
        $.ajax({
            url: "/Bind/BindSubCategory",
            type: "POST",
            datatype: "json",
            success: function (data) {
                categoryData = data;
                loadDataTable();
            },
        });

        function loadDataTable() {
            $('#tblCategory').DataTable({
                "ordering": true,
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sDom": '<""l>t<"F"fp>',
                "data": categoryData.subcategory,
                "searching": true,
                "columns": [
                    { 'data': 'SubCategoryID', "name": "SubCategoryID" },
                    { 'data': 'category.CategoryName', "name": "CategoryName" },
                    { 'data': 'SubCategoryName', "name": "SubCategoryName" },
                    { 'data': 'IsActive', "name": "IsActive" },
                    {
                        "render": function (data, type, obj, meta) {
                            return `<a class="btn btn-primary" href="#" onclick="javascript:editSubCategory(event,'` + obj.SubCategoryID + `')">Edit</a>
                            <a class="btn btn-danger" href="#" onclick="javascript:deleteCategory(event,'` + obj.SubCategoryID + `')">Delete</a>
                            `;
                        }
                    },
                ]

            });
        }
    });
</script>
<div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Common elements</a> </div>

</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Sub-Category-info</h5>
                </div>
                <div class="widget-content nopadding">

                    <form action="/Admin/SubCategory" method="post" class="form-horizontal">
                        @Html.AntiForgeryToken()
                        <div class="control-group">
                            <label class="control-label">Category Name :</label>
                            <div class="controls">
                                @Html.DropDownListFor(a => a.CategoryID, new SelectList((new ECommApplication.Models.SubCategory().getCategories()), "CategoryID", "CategoryName"), "--Select--")
                                @Html.ValidationMessageFor(a => a.CategoryID, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label class="control-label">Sub Category Name :</label>
                            <div class="controls">
                                @Html.HiddenFor(a => a.SubCategoryID)
                                @Html.TextBoxFor(a => a.SubCategoryName, new { @maxlength = "100" })
                                @Html.ValidationMessageFor(a => a.SubCategoryName, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Is Active :</label>
                            <div class="controls">
                                @Html.CheckBoxFor(a => a.IsActive)
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success" id="btnSave">Save</button>
                            <button type="button" id="btnClear" class="btn btn-success" onclick="clearRecord()">Clear</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <hr />
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Data table</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table" id="tblCategory">
                        <thead>
                            <tr>
                                <th>Sub Category ID</th>
                                <th>Category Name</th>
                                <th>SubCategory Name</th>
                                <th>Active</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>